.projects-container {
  background-color: black;
  padding: 50px 0; /* Adjusted padding for spacing */
  text-align: center;
}

.pt {
  background: linear-gradient(45deg, #29B6F6, #283593);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
  animation: fade-in-left 1s ease-in-out;
}
.gd{
  padding-left: 220px;
  padding-bottom: 80px;
  padding-top: 100px;
}



.project-card {
  max-width: 345px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 20px auto; /* Center the cards horizontally and add space between them */
}

.project-image {
  height: 140px;
  object-fit: cover; /* Ensure image covers container */
  border-radius: 8px; /* Optional: Add rounded corners to image */
}

.project-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.project-description {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px; /* Ensure space between description and chips */
}

.project-tech-chip {
  display: inline-block;
  padding: 4px 8px;
  margin: 2px;
  background-color: #444;
  color: white;
  font-size: 0.8rem; /* Adjusted font size for chips */
  border-radius: 4px; /* Optional: Add rounded corners to chips */
}

.project-button {
  color: white;
  text-decoration: none; /* Remove underline from button */
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 768px) {

  .gd {
    padding-left: 20px; /* Adjusted padding for smaller screens */
    padding-right: 20px; /* Adjusted padding for smaller screens */
    padding-bottom: 40px; /* Adjusted padding for spacing */
    padding-top: 40px; /* Adjusted padding for spacing */
  
  }
  
}